<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="settings" class="examplescatalog.settings.EnvironmentSettings">
        <constructor-arg ref="xmlSettings"/>
    </bean>
    <bean id="xmlSettings" class="examplescatalog.settings.XmlSettings" factory-method="getInstance">
        <constructor-arg index="0" value="settings.xml"/>
        <constructor-arg index="1" value="settings.xsd"/>
    </bean>
</beans>