<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- todo Перенести конфигурацию зависимостей в аннотации -->

    <bean id="settings" class="examplescatalog.settings.EnvironmentSettings">
        <constructor-arg index="0">
            <bean class="examplescatalog.settings.XmlSettings" factory-method="getInstance">
                <constructor-arg index="0" value="settings.xml"/>
                <constructor-arg index="1" value="settings.xsd"/>
            </bean>
        </constructor-arg>
        <constructor-arg index="1" value="EXAMPLES_ROOT"/>
        <constructor-arg index="2" value="INTELLIJ_IDEA_PATH"/>
    </bean>

    <bean id="catalog" class="examplescatalog.catalog.MemoryCatalog">
        <constructor-arg>
            <bean class="examplescatalog.catalog.dircatalog.DirCatalog">
                <property name="walker">
                    <bean class="examplescatalog.catalog.dircatalog.DirTreeWalker">
                        <constructor-arg value="#{settings.examplesRoot}"/>
                        <constructor-arg>
                            <bean class="examplescatalog.catalog.dircatalog.ProjectFileFilter">
                                <constructor-arg value="#{settings.projectFileMasks}"/>
                            </bean>
                        </constructor-arg>
                    </bean>
                </property>
            </bean>
        </constructor-arg>
    </bean>

</beans>