<?xml version="1.0" encoding="UTF-8" ?>
<!--
todo Подправить XSD
todo Исключить из сканирования папки .git, .idea,. classes, out, .gradle.
-->
<settings port="2512" prIdFilename="ExamplesCatalog.properties" defCmd="explorerCmd">
    <prFileMasks>
        <mask mask=".*.iml" priority="3"/>
        <mask mask=".*.gradle" priority="2"/>
        <mask mask="pom.xml" priority="1"/>
    </prFileMasks>
</settings>